<!DOCTYPE html>
<html lang="pt-br" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
 
<head>
	<meta charset="UTF-8">

 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
	<title>Cadastrar novo Cliente</title>
</head>
 
<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Lojas</a>
		</div>
	</nav>
 
	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Editar Loja</h1>
			</div>
		</div>
 
		<div class="row">
			<div class="col-sm-12">
				<form method="POST" th:object="${enterprise}" enctype="multipart/form-data">
					
					<div class="mb-3">
						<label for="fantasyName" class="form-label">Nome da loja</label>
						<input type="text" class="form-control" id="fantasyName" th:field="*{fantasyName}">
					</div>
					<div class="mb-3">
						<label for="cnpj" class="form-label">CNPJ do Lojista</label>
						<input type="text" class="form-control" id="cnpj" th:field="*{cnpj}">
					</div>
					<div class="mb-3">
						<label for="numStore" class="form-label">Número da loja</label>
						<input type="number" class="form-control" id="numStore" th:field="*{numStore}">
					</div>					
					
					<label for="user" class="form-label">Nome do vendedor: </label>
					
					
																																																																
					
					<select name="idUser" class="form-select" id="user">
            			<option 
            			th:each="employers : ${employers}" 
            			th:value="${employers.idUser}" 
            			th:text="${employers.userName}"></option>
        			</select>
					
					<br>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	</main>
 
 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
 
</html>