<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Comércio Fácill</title>
    <meta name="author" content="Squad 25" />
    <meta name="description" content="Comércio Fácil: Encontre o que deseja perto de você!">
    <meta name="keywords" content="produtos, comprar, feira">

    <!-- Favicon -->
    <link rel="icon" href="../imgs/favicon.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- - header - -->
    <header id="header">
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center me-5" href="/">
                    <img src="../imgs/favicon.png" alt="Good Vacation">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item utilities-item ms-4 ps-4">
                            <div class="utilities-div utilities-focus rounded-pill">
                                <a href="/employer/cadastrar"  class="nav-link d-flex align-items-center text-decoration-none me-1">
                                    <img src="../imgs/user-default.svg" id="userPefil" class="rounded-circle me-2"
                                        alt="Nova sessão">
                                    <span id="userName">Seção restrita</span>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item utilities-item ms-0">
                            <div class="utilities-div rounded-pill me-3">
                                <a href="/enterprise/listarAll"
                                    class="nav-link d-flex align-items-center text-decoration-none ms-1">
                                    <img src="../imgs/warning-default.svg" class="rounded-circle me-2"
                                        alt="Área restrita">
                                    <span id="restrictedArea">Área do empreendedor</span>
                                </a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fw-semibold" aria-current="page" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fw-semibold" href="about.html">Sobre nós</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle fw-semibold" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Parceiros e clientes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="partnersClients.html">Conheça nossos parceiros</a>
                                </li>
                                <li><a class="dropdown-item" href="partnersClients.html">Saiba mais sobre nossos
                                        clientes</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fw-semibold" href="contacts.html">Contatos</a>
                        </li>
                    </ul>

                    <div class="nav-help ms-3 ps-2">
                        <a class="nav-link fs-6 fw-semibold" href="https://www.bibliaonline.com.br/"
                            target="_blank">Ajuda
                            <button class="btn btn-outline-primary rounded-circle ms-2 fw-semibold"
                                type="submit">?</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header> <!-- End #header -->

    <!-- - main - -->
    <main class="container">
        <section id="enterprise-create-section">
            <div class="row">
                <div class="col-lg-6 my-4">
                    <div class="section-title py-1">
                        <h2 class="fs-3 fw-bold">Cadastre seu empreendimento</h2>
                        <p class="fs-6 pb-2 fw-">Preencha as informações e vincule seu estabelecimento</p>
                    </div>

                    <form th:object="${enterprise}">
                        <div class="form-page p-4">
                            <p class="mb-1"><i class="bi bi-1-circle pe-2"></i>Dados da feira comercial:</p>

                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <label for="inputNameenterprise" class="form-label">Busque pelo nome da feira ou
                                        filtre uma existente:</label>

                                    <div class="col-sm-10 col-9 pe-0">
                                        <input type="text" class="form-control" id="inputNameEnterprise" name="fantasyName" th:required="required">
                                    </div>

                                    <div class="col-sm-2 col-3 text-center">
                                        <button type="submit" class="btn btn-primary rounded-pill py-2"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <select class="form-select" id="inputSelectState">
                                    <option selected disabled>Estado</option>
                                    <option value="Bahia">BA</option>
                                    <option value="São Paulo">SP</option>
                                    <option value="Rio de Janeiro">RJ</option>
                                </select>

                                <span class="input-group-text"></span>

                                <select class="form-select" id="inputSelectCity">
                                    <option selected>Cidade</option>
                                    <option value="1">Feira Municipal de Maricá</option>
                                    <option value="2">Mercadão Santos</option>
                                    <option value="3">Barracão Aliança de Camaçari</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Resultado da consulta:</label> <!-- display: none;  th:field="*{city}"  th:field="*{street}"-->
                                <input type="text" class="form-control mb-2" th:required="required" disabled>

                                <div class="input-group my-2">
                                    <input type="text" class="form-control" th:required="required" disabled>

                                    <span class="input-group-text"></span>

                                    <input type="text" class="form-control" th:required="required" disabled>
                                </div>
                            </div>
                        </div> <!-- End .form-page -->
                    </form>
                </div>

                <div class="col-lg-6 my-3">
                    <form th:object="${enterprise}" method="get">
                        <div class="form-page p-4">
                            <p class="mb-1"><i class="bi bi-2-circle pe-2"></i>Dados do empreendimento:</p>

                            <div class="mb-3">
                                <div class="row align-items-center">
                                    <label  for="inputCodEnterprise" class="form-label">Informe o código individual do seu empreendimento:
                                        <a href="#" data-bs-toggle="tooltip" data-bs-title="É o código que a sua instituição forneceu. Clique para mais informações.">
                                            <i class="bi bi-question-circle-fill question-icon"></i>
                                        </a>
                                    </label>
        
                                    <div class="col-sm-10 col-9 pe-0">
                                        <input type="text" class="form-control" id="inputCodEnterprise" name="codEnterprise" th:required="required">
                                    </div>
        
                                    <div class="col-sm-2 col-3 text-center">
                                        <button type="submit" class="btn btn-primary rounded-pill py-2"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Resultado da consulta:</label>
<!--        						th:field="*{fantasyName}"	th:field="*{cnpj}"-->
                                <div class="input-group my-2">
                                    <input type="text" class="form-control" th:required="required" disabled>
        
                                    <span class="input-group-text"></span>
        
                                    <input type="text" class="form-control" th:required="required" disabled>
                                </div>
                            </div>
        
                        </div> <!-- End .form-page -->
                    </form>

                    <!-- diplay: none; th:action="ROTA DE SALVAR IMAGEM E ABRIR A LISTAGEM DOS PRODUTOS" -->
                    <form th:object="${enterprise}" method="post" class="mt-3">
                        <div class="row justify-content-center align-items-end">
                            <div class="col-sm-7 px-5 pb-4">
                                <div id="divPhoto">
                                    <label class="py-2 fs-6">Escolha uma imagem-tema:</label>
                                    <label class="labelPhoto d-flex justify-content-center align-items-center rounded mt-2" for="inputFile" tabindex="0">
                                        <img src="../imgs/new-image-deafult.png" alt="Upload da imagem-tema" id="imgPhoto">
                                    </label>
                                </div>
        
                                <input type="file" class="d-none" id="inputFile" name="image" accept="image/*" th:required="required">  
                            </div>
                            
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-12 d-grid mx-auto p-4">
                                        <a href="javascript:history.back()" class="btn btn-outline-primary fw-semibold button-link">Cancelar</a>
                                    </div>
                                    <div class="col-12 d-grid mx-auto p-4">
                                        <button type="submit" class="btn btn-outline-primary fw-semibold px-3">Avançar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main> <!-- End .container -->

    <!-- - footer - -->
    <footer class="container-fluid" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="footer-top">
                    <div class="row justify-content-between pt-3">
                        <div class="col-6">
                            <p class="fs-5 fw-semibold">Comércio Fácil</p>
                        </div>
                        
                        <div class="col-6 text-end" id="social-networks">
                            <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram me-3 fs-4"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook me-3 fs-4"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin me-3 fs-4"></i></a>
                            <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter me-3 fs-4"></i></a>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-12" id="footer-bottom">
                    <div class="row justify-content-between">
                        <div class="col-12 col-md-3">
                            <p class="fw-light">Recode Pro 2023</p>
                        </div>

                        <div class="col-12 col-md-4">
                            <p class="fw-light text-end autor">Desenvolvido pelo <span class="fw-semibold">Squad 25</span> &copy; 2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> <!-- - End #footer - -->

    <!-- JS scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous">
    </script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script src="../js/uploadImage.js"></script>
</body>

</html>