<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 
  <title>Detalhes do Cliente</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Clientes</a>
    </div>
  </nav>
 
  <main class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Detalhes do Lojista</h1>
      </div>
    </div>
 
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h5 class="card-header" th:text="${employer.userName}"></h5>
          <div class="card-body">
            <p>
              Telefone: <span th:text="${employer.telephone}"></span>
            </p>
            <p>
              E-mail: <span th:text="${employer.email}"></span>
            </p>
 
            <a th:href="@{/employer/{id}/editar (id=${employer.idUser})}" class="btn btn-warning">
			Editar
			</a>
			<a th:href="@{/employer/{id}/excluir (id=${employer.idUser})}" class="btn btn-danger"
			onclick="return confirm('Tem certeza que deseja excluir o lojista?');">
			Excluir
			</a>
            
          </div>
        </div>
      </div>
    </div>
    
    
      <div class="row mt-1">
		<div class="col-sm-12">
			<a th:href="@{/enterprise/{id}/cadastrar (id=${employer.idUser})} " class="btn btn-primary">Cadastrar loja</a>
			<a th:href="@{/enterprise/{id}/listar (id=${employer.idUser})} " class="btn btn-primary">Ver lojas cadastradas</a>
		</div>
		
	</div>
    </div>
    
    <div class="row mt-5">
		<div class="col-sm-12">
			<a th:href="@{/employer}" class="btn btn-primary">Voltar</a>
		</div>
	</div>
  </main>
 
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>